:root {
  --dfl-white: #FFFFFF;
  --dfl-cr-1: #471900;
  --dfl-cr-2: #853204;
  --dfl-cr-3: #9A5F25;
  --dfl-cr-4: #E8B767;
  --dfl-cr-4-T: #e8b76763;
  --dfl-cr-5: #ECE6F0;
  --dfl-white-shadow: rgba(255, 255, 255, 0.80);
  --dfl-cr-1-shadow: rgba(71, 25, 0, 0.25);
  --dfl-cr-2-shadow: rgba(133, 49, 4, 0.25);
  --dfl-cr-3-shadow: rgba(154, 95, 37, 0.25);
  --dfl-cr-4-shadow: rgba(232, 183, 103, 0.25);

  --dfl-cr-bdp-1: #ce7fc0;
  --dfl-cr-bdp-2: #82ca9d;
  --dfl-cr-bdp-3: #cb747c;
  --dfl-cr-bdp-4: #8884d8;
  --dfl-cr-bdp-5: #ffc658;
  --dfl-cr-bdp-6: #859ec3;
  --dfl-cr-bdp-7: #9A5F25;

}

.bg-color-white {
  background-color: var(--dfl-white) !important;
}
.bg-color-1 {
  background-color: var(--dfl-cr-1) !important;
}
.bg-color-2 {
  background-color: var(--dfl-cr-2) !important;
}
.bg-color-3 {
  background-color: var(--dfl-cr-3) !important;
}
.bg-color-4 {
  background-color: var(--dfl-cr-4) !important;
}
.bg-color-4-T {
  background-color: var(--dfl-cr-4-T) !important;
}
.bg-color-5 {
  background-color: var(--dfl-cr-5) !important;
}

/*esto es para bordes personalizados*/
.border-1 {
  border: 1px solid var(--dfl-cr-1) !important;
}

.border-1-P {
  border: 4px solid var(--dfl-cr-bdp-1) !important;
}
.border-2-P {
  border: 4px solid var(--dfl-cr-bdp-2) !important;
}
.border-3-P {
  border: 4px solid var(--dfl-cr-bdp-3) !important;
}
.border-4-P {
  border: 4px solid var(--dfl-cr-bdp-4) !important;
}
.border-5-P {
  border: 4px solid var(--dfl-cr-bdp-5) !important;
}
.border-6-P {
  border: 4px solid var(--dfl-cr-bdp-6) !important;
}
.border-7-P {
  border: 4px solid var(--dfl-cr-bdp-7) !important;
}
.btn-linear-gradient {
  background: linear-gradient(to right, var(--dfl-cr-3), var(--dfl-cr-3));
  color: var(--dfl-white) !important;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px var(--dfl-cr-2-shadow);
}
.btn-linear-gradient:hover {
  background: linear-gradient(to right, var(--dfl-cr-1), var(--dfl-cr-1));
  transform: translateY(-2px);
  box-shadow: 0 8px 20px var(--dfl-cr-2-shadow);
} 
.btn-linear-gradient:active {
  transform: scale(0.97);
  box-shadow: 0 3px 8px var(--dfl-cr-1-shadow);
}
.btn-2 {
  border-radius: 10px;
  background-color:  var(--dfl-cr-2);
  padding: 15px 24px;
  font-weight: bold;
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

/* Hover */
.btn-2:hover {
  background-color:#471900 !important;
}

/* Cuando haces click */
.btn-2:active {
  background-color: #471900 !important;
}

/* Quitar azul de Bootstrap */
.btn-2:focus,
.btn-2:focus-visible,
.btn-2:active:focus,
.btn-check:focus + .btn-2 {
  outline: none !important;
}

/* SUPER IMPORTANTE: evita que Bootstrap lo pinte */
.btn-2:active,
.btn-2:focus,
.btn-2:hover {
  background-image: none !important;
}

.card-linear-gradiente {
  background: linear-gradient(to right, var(--dfl-cr-2), var(--dfl-cr-1));
  border-radius: 16px;
}
.card-linear-gradiente-2 {
  background: linear-gradient(to right, var(--dfl-cr-1), var(--dfl-cr-2));
  /* border-radius: 16px; */
}
.card-linear-gradiente-3 {
  background: linear-gradient(90deg, #6b1e00, #b34700);
  border-radius: 16px;
}
.card-transparent {
  background: var(--dfl-white-shadow);
  border-radius: 16px;
}

#carouselHome {
  position: relative;
  overflow: visible;
}
#carouselHome .carousel-control-prev {
  left: -70px; 
}
#carouselHome .carousel-control-next {
  right: -70px;
}

.color-white {
  color: var(--dfl-white) !important;
}
.color-1 {
  color: var(--dfl-cr-1) !important;
}
.color-2 {
  color: var(--dfl-cr-2) !important;
}
.color-3 {
  color: var(--dfl-cr-3) !important;
}
.color-3::placeholder {
  color: var(--dfl-cr-3) !important;
}
.color-4 {
  color: var(--dfl-cr-4) !important;
}
.color-5 {
  color: var(--dfl-cr-5) !important;
}

.texto-difuminado-colores {
  color: #471900; /* Color base */
  transition: all 0.3s ease; 
  
}
.texto-difuminado-colores:hover {
  color: transparent; /* Ocultamos el color base */
  background: linear-gradient(90deg, #900000, #853204, #E8B767, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  animation: difuminadoColores 2s ease infinite;
}

/* Actualizar el tamaño de la letra de acuerdo a la Pantalla */
.fonts-size-title {
  font-size: 2.5rem;
}
@media (max-width: 992px) {y
  .fonts-size-title {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .fonts-size-title {
    font-size: 1.5rem;
  }
}
.fonts-size-subtitle {
  font-size: 1.75rem;
}
@media (max-width: 992px) {
  .fonts-size-subtitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .fonts-size-subtitle {
    font-size: 1rem;
  }
}
.fonts-size-text {
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  .fonts-size-text {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .fonts-size-text {
    font-size: 1rem;
  }
}


.form-control:focus {
  border-color: var( --dfl-cr-4);
  box-shadow: 0 0 0 .25rem var( --dfl-cr-4-shadow) !important;}


.fz-15 {
  font-size: 0.75rem !important;
}
.fz-16 {
  font-size: 1rem !important;
}
.fz-18 {
  font-size: 1.125rem !important;
}
.fz-20 {
  font-size: 1.25rem !important;
}
.fz-22 {
  font-size: 1.375rem !important;
}
.fz-24 {
  font-size: 1.5rem !important;
}
.fz-26 {
  font-size: 1.625rem !important;
}
.fz-28 {
  font-size: 1.75rem !important;
}

.homeBody {
  overflow-x: hidden;
}

.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--dfl-cr-2);
}
.input-icon input {
  padding-left: 40px;
}
.input-icon .form-control {
  padding-left: 45px !important;
}

/* Model */

.mov-card {
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.mov-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}


.modal-content, 
.modal-footer, 
.modal-body {
  background-color: #ffffff !important;
  background: #ffffff !important;
}


.loginWrapper {
  min-height: 100vh;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.ocean { 
  height: 0%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #853204;
}

.wave {
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;  */
  background: url(../Img/wave.svg) repeat-x;
  position: absolute;
  top: -120px;
  width: 6400px;
  height: 120px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

.oceanTop {
  height: 0%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #853204;
}

.waveTop {
  background: url(../Img/wave.svg) repeat-x;
  position: absolute;
  bottom: -120px; /* ahora va arriba */
  width: 6400px;
  height: 120px;
  transform: rotate(180deg);
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite reverse;
}

.waveTop:nth-child(2) {
  bottom: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite reverse,
             swell-top 7s ease -1.25s infinite reverse;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes swell-top {
  0%, 100% {
    transform: rotate(180deg) translate3d(0,-25px,0);
  }
  50% {
    transform: rotate(180deg) translate3d(0,5px,0);
  }
}